// Background-Image Keyframes Start
@media (max-width: 1895px) {
  .introduction {
  background-position: right -20px top 0;
  }
}
@media (max-width: 1868px) {
  .introduction {
  background-position: right -40px top 0;
  }
}
@media (max-width: 1841px) {
  .introduction {
  background-position: right -60px top 0;
  }
}
@media (max-width: 1790px) {
  .introduction {
  background-position: right -80px top 0;
  }
}
@media (max-width: 1750px) {
  .introduction {
  background-position: right -100px top 0;
  }
}
@media (max-width: 1710px) {
  .introduction {
  background-position: right -120px top 0;
  }
}
@media (max-width: 1670px) {
  .introduction {
  background-position: right -140px top 0;
  }
}
@media (max-width: 1630px) {
  .introduction {
  background-position: right -160px top 0;
  }
}
@media (max-width: 1590px) {
  .introduction {
  background-position: right -180px top 0;
  }
}
@media (max-width: 1540px) {
  .introduction {
  background-position: right -200px top 0;
  }
}
@media (max-width: 1500px) {
  .introduction {
  background-position: right -220px top 0;
  }
}
@media (max-width: 1460px) {
  .introduction {
  background-position: right -240px top 0;
  }
}
@media (max-width: 1420px) {
  .introduction {
  background-position: right -260px top 0;
  }
}
@media (max-width: 1390px) {
  .introduction {
  background-position: right -280px top 0;
  }
}
@media (max-width: 1350px) {
  .introduction {
  background: none;
  }
}
// Background-Image Keyframes End